{%extends 'base.html'%}
{% block title%}Aboutus{%endblock%}
{%block content %}

<div class="mt-4"><h3>welcome : {{user.username}}</h3></div>
  <div>
  <div class="container pt-4">
    <div class="row mt-4">
      <div class="col-lg-4 mx-auto shadow ">
    <div class="alert alert-info">
    <h2>
        Add new product
    </h2>
    </div>
    <div class=" p-4">
      <form action="/add-todo/" method="POST">
      {% csrf_token %}
      {{form.as_p}}
      <hr>
      <input type="submit" value="ADD" class="btn btn-info">
      </form>
    </div>
</div>
{%endblock%}
