{%extends 'base.html'%}
{%block content%}
<link rel="stylesheet" href="Ecommerce\static\css\vendor.css">

<div class="container pt-4 mt-4">
  <div class="col-lg-4 mx-auto shadow mt-4">
  <div class="alert alert-info">
  <h2>
      Login here
  </h2>
  </div>
  <div class=" p-4">
  <form action="/login/" method="POST">
  {% csrf_token %}
  {{form.as_p}}
  <hr>
  <input type="submit" value="login" class="btn btn-info">
  <a href="{% url 'signup' %}"  class="signbt">signup</a>
</form>
</div>
</div>
</div>
{%endblock%}